@import './reset';
@import './variables';
@import './typography';
@import './buttons';
@import './forms';
@import './modals';

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(247, 252, 252);
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Averta';
  font-size: 1.5rem;

  // disable selection for a mobile experience (mainly for iOS)
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}