$containerColor: #544743;
$navColor: #FFFBF9;
$inputColor: #FFF4F0;
$sectionColor: #E2C7BC;
$whiteColor: #FFFFFF;
$blackColor: #000000;
// $rightSectionBackgroundColor: #E5E5E5;

html {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}


/*** All p tags ***/
p {
    margin-bottom: 0;
}


/*** Router link class ***/
.vue_router_link {
    &:hover {
        text-decoration: none;
    }
}

/*** Right Background Color ***/

.right_back_color {
    background-color: $whiteColor;
}

/*** Button 1 Class ***/

.btn_1 {
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

/*** Nav ***/

.header {
    padding: 14px 50px 14px 48px;
    background-color: $navColor;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    .header_buttons {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        width: 50%;
        p {
            font-size: 16px;
            font-weight: 500;
            color: $containerColor;
            &:hover {
                // color: red;
            }
        }
        .header_signup_button {
            background-color: $containerColor;
            padding: 10px 32px;
            color: $navColor;
            border-radius: 5px;
        }
    }
}

/*** Content after nav ***/

.content_container {
    height: 90vh;
}

/*** Homepage ***/

.intro {
    padding-top: 52px;
    padding-left: 48px;
    padding-right: 170px;
    position: relative;
    .about_meerkat {
        font-weight: 500;
        font-size: 32px;
        color: $containerColor;
    }
    .more_info_meerkat {
        font-size: 16px;
        color: $containerColor;
        margin-bottom: 26px;
    }
    .homepage_button_holder {
        background-image: url('~./assets/img/bigLogo.png');
        background-repeat: no-repeat;
        background-position: -48px 0;
        background-size: 300px auto;
        height: 54vh;
        margin-left: -48px;
        padding: 48px;
        object-fit: cover;
        .big_logo {
            position: absolute;
            top: 240px; 
            width: 320px;
            z-index: -1000;
            margin-left: -88px;
    
        }
        .quick_report_button {
            padding: 12px 32px;
            background-color: $containerColor;
            color: $whiteColor;
            margin-right: 32px;
        }
        .homepage_signup_button {
            border: 1px solid $containerColor;
            background-color: $whiteColor;
            border-radius: 5px;
            padding: 12px 43px;
            font-size: 20px;
            color: #636161;
        }
    }
}

.homepage_inputs {
    padding: 24px 48px;
    background-color: $containerColor;
    .trending_text {
        color: $sectionColor;
        margin-bottom: 20px;
    }
    .search_incident_input {
        padding: 12px 16px;
        background-color: $sectionColor;
        border-radius: 100px;
        width: 100%;
        margin-bottom: 20px;
        outline-width: 0;
    }
    .areas {
        height: 105px; 
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        .areas_1 {
            background-color: $inputColor;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            padding: 20px;
            width: 45%;
            >p {
                font-size: 16px; 
                color: $containerColor;
            }
            
        }
        .areas_2 {
            background-color: $sectionColor;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 55%;
            height: 100%;
        }
    }
}

/*** Side Meerkat Classes ***/

.side_meerkat_container {
    background-color: $containerColor;
    padding: 72px 104px 0 48px;
    >p {
        font-size: 16px;
        color: $whiteColor;
    } 
    .quick_margin_bottom {
        margin-bottom: 40px;
        &.quote_author {
            text-align: right;
        }
    }
    .quickreport_image_holder {
        background-image: url('~./assets/img/bigColorLogo.png');
        background-repeat: no-repeat;
        background-position: 30px 0;
        background-size: 30vh auto;
        height: 57vh;
        margin-left: -48px;
        // padding: 48px;
        object-fit: cover;
    }
}

/*** Quick Report ***/

.quick_report_container {
    padding: 72px 112px 0 112px;
    .quick_report_section {
        height: 350px;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 2px 5px #C4C3C3;
        background-color: $whiteColor;
        padding: 32px;
        >p {
            color: $containerColor;
        }
        .quick_report_text {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 21px;
        }
        .quick_report_description_holder {
            background-color: $whiteColor;
            border: 1px solid $sectionColor;
            border-radius: 5px; 
            height: 60%;
            width: 100%;
            padding: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            +p {
                color: $containerColor;
                font-size: 14px;
            }
            textarea {
                border: 0;
                outline-width: 0;
            }
            div {
                border-top: 1px solid $sectionColor;
                padding-top: 8px;
                button {
                    border-radius: 5px;
                    background-color: $whiteColor;
                    border: 1px solid $containerColor;
                    padding: 8px 16px;
                }
            }
        }
        .report_quick_report {
            margin-top: 16px;
            display: flex; 
            align-items: center;
            justify-content: space-between;
            div {
                display: flex;
                align-items: center;
                .quick_report_check {
                    background-color: $containerColor;
                    border-radius: 15px;
                    border: 1px solid $containerColor;
                    height: 25px;
                    width: 46px;
                    padding: 3px 2px;
                    cursor: pointer;
                    .quick_report_inner_check {
                        background-color: $whiteColor;
                        height: 19px;
                        width: 19px;
                        border-radius: 50%;
                        &.quick_report_inner_check_right {
                            position: relative;
                            left: 21px;
                        }
                    }
                }
                p {
                    color: $containerColor;
                    font-size: 14px;
                    font-weight: 500;
                    margin-left: 8px;
                }
            }
            button {
                padding: 11px 32px;
                background-color: $containerColor;
                border-radius: 5px;
                color: $whiteColor;
                font-size: 14px;
            }
        }
    }
}


/*** Report Successfult Modal ***/

.report_successful_modal {
    height: 100%;
    padding: 32px;
    background-color: $whiteColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h3 {
        font-size: 32px;
        font-weight: 500;
        color: $blackColor;
    }
    p {
        font-size: 20px;
        color: $blackColor;
    }
    div {
        width: 80%;
        display: flex;
        justify-content: space-between;
        .report_successful_modal_create_account {
            width: 270px;
            padding: 16px 47px;
            background-color: $containerColor;
            color: $whiteColor;
        }
        .report_successful_modal_no_thanks {
            width: 182px;
            padding: 16px 42px;
            border: 1px solid $containerColor;
            background-color: $whiteColor;
            color: $containerColor;
        }
    }
}

/*** About Page ***/

.about_content_container {
    padding: 100px 50px 0 190px;
    h3 {
        font-weight: 500;
        font-size: 32px;
        color: $containerColor;
        margin-bottom: 19px;
    }
    p {
        font-size: 16px;
        color: $containerColor;
        margin-bottom: 32px;
    }
    button {
        padding: 16px 43px;
        background-color: $containerColor;
        color: $navColor;
    }
}